---
env:
  mocha: true
  es6: true
  browser: true

parserOptions:
  ecmaVersion: 6
  sourceType: module

rules:
  array-bracket-spacing:
    - 2
    - always
  comma-spacing:
    - 2
    -
      before: false
      after: true
  comma-dangle:
    - 2
    - always-multiline
  computed-property-spacing:
    - 2
    - always
  indent:
    - 2
    - 2
  newline-after-var: 2
  no-console: 1
  no-constant-condition: 1
  no-shadow: 1
  no-undef: 2
  no-unused-vars: 2
  no-use-before-define: 0
  object-curly-spacing:
    - 2
    - always
  prefer-const: 2
  quotes:
    - 2
    - single
    - avoid-escape
  keyword-spacing: 2
  space-before-blocks:
    - 2
    - always
  space-before-function-paren:
    - 2
    -
      anonymous: always
      named: never
  strict:
    - 2
    - never
