{
  "env": {
    "jasmine": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2],
    "newline-after-var": 2,
    "no-console": 1,
    "no-shadow": 1,
    "no-use-before-define": 0,
    "prefer-const": 2,
    "quotes": [2, "single", "avoid-escape"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "strict": [2, "never"]
  }
}
